* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(21, 27, 59, 0.85),
      rgba(30, 40, 89, 0.85),
      rgba(15, 21, 47, 0.85)
    ),
    url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playfair Display", serif;
  color: white;
}
